.country {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.country-header {
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
